@model List<GetAllUniversityQueryResult>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Üniversite</th>
            <th>Şehir</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.UniversityID</td>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td><a href="/University/DeleteUniversity/@item.UniversityID" class="btn btn-outline-danger">Sil</td>
                <td><a href="/University/UpdateUniversity/@item.UniversityID" class="btn btn-outline-success">Güncelle</td>
            </tr>
        }
    </table>
    <b href="/University/AddUniversity" class="btn btn-outline-primary">Yeni Üniversite Girişi</b>
</div>
